.gpa-box {
    border-radius: 3px;
    background-color: lightblue;
    vertical-align: middle;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.37); 
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.37);
    padding: 5px 10px 5px 10px;
}
.gpa-completed-course-box {
    display: inline-block;
    width: auto;
}
.gpactrlcontainer input {
    margin: 10px 5px 0px 8px;
}
.gpa-title {
    margin: 5px;
    font-weight: bold;
}
.gpa-results-box {
    margin-bottom: 20px;
}
.gpa-add-course-btn { 
    padding: 5px;
    margin: 5px;
    float: right;
    background-color: lightgreen;
    border-radius: 10px;
}
.gpa-other-course {
    margin-top: 20px;
    margin-bottom: 10px;
}
.gpa-other-course {
    margin-top: 20px;
    margin-bottom: 10px;
}
.gpa-other-course p{
    font-size: 10px;
}
.gpa-other-course input{
    margin-right: 5px;
}
#ccData {
    width: 80px;
    margin-right: 10px;
}
#creditsData {
    width: 60px;
}
#gradeInput {
    width: 40px;
}
.gpa-other-course input[type=checkbox]{
    margin-left: 15px;
}